/**/
:root{
    --violeta: #900C3F;
    --rojo: #C70039;
    --naranja: #F94C10;
    --amarillo: #F8DE22;
    --blanco: #ffffff;
}
/*Hack para que se mire bien en cualquier pantalla, 1rem = 10px adaptados a los parametros que le dimos */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

*,*::before, *::after{
    box-sizing: inherit;
}

header h1{
    background: var(--violeta);
    padding: 4rem;
    margin: 0;
}

.titulo{
    text-align: center;
    color: var(--amarillo);
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bg{
    background: var(--rojo);
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    padding: 2rem;
}

.navegacion-principal a:hover{
    background: var(--naranja);
}

.gomi{
    background-image: url(../img/gom.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.contenido-gomi{
    position: absolute;
    background-color: rgba(0, 0, 0,.6);
    width: 100%;
    height: 100%;

    /** Para alinear en el centro el contenido **/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-gomi h2,
.contenido-gomi p{
    color: var(--blanco);
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
